{% set url_docs = "https://docs.bloucos.art/pt_BR/latest/" + caminho_docs %}
<div class="card-body">
<h2 class="display-4 m-2 p-2 text-center text-light">
	Docs
	<a href="{{ url_docs }}"><i title="Link direto" class="fa-solid fa-arrow-up-right-from-square"></i></a>
</h2>
<!-- Manual -->
<div class="manual col-xs-7 col-md-12 embed-responsive embed-responsive-1by1" style="width:100%; height:650px">
	<iframe class="embed-responsive-item" src="{{ url_docs }}" style="width:100%; height:100%;"></iframe>
</div>
</div>
