<div style="margin-top: 60px !important;">
<h2 class="display-4 m-2 p-2 text-center text-light">
	Estandarte
	<a href="https://pad.bloucos.art/p/{{ estandarte }}?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false"><i title="Link direto" class="fa-solid fa-arrow-up-right-from-square"></i></a>
</h2>
<div class="card-body">
	<div class="etherpad-embed">
		<iframe name="embed_readwrite"
			src="https://pad.bloucos.art/p/{{ estandarte }}?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false"
			width="100%" height="550px" frameborder="0"></iframe>
	</div>

</div>
</div>
