{% extends 'esqueleto.html' %}
{% block conteudo %}

<!--Plano de Fundo-->
<style type="text/css">
	body {
		background-color: #ff9800;
	}
</style>

<div class="container-fluid">
	{% if seed %}
	<div class="row topo">

		<!-- Banner principal-->
		<div class="container-fluid">
			<div class="jumbotron jumbotron-fluid bg-transparent text-white">
				<div class="container-fluid  text-center">
					<img style="width: 25%" src="{{ pag_imagem }}" />
					<p>{{ seed }}</p>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- Conteúdo -->
		<div class="container-fluid">
			<div class="jumbotron jumbotron-fluid m-3 p-4 bg-dark text-white">
				<h2 class="display-5"><b><a class="text-light" href="https://meet.jit.si/Blouco_{{bonde}}">Bonde</a></b>
				</h2>
				<hr class="my-4 bg-light">

				<div id="bonde" class="embed-responsive embed-responsive-4by3">
					<script src="https://meet.jit.si/external_api.js"></script>
					<script>
						var domain = "meet.jit.si";
						var options = {
							roomName: "Blouco_{{bonde}}",
							width: "100%",
							height: "100%",
							parentNode: document.querySelector('#bonde'),
							configOverwrite: {},
							interfaceConfigOverwrite: {}
						}
						var api = new JitsiMeetExternalAPI(domain, options);
					</script>
				</div>
				<br>

				<div>
					<h2 class="display-5"><b><a
								href="https://kiwiirc.com/nextclient/chat.freenode.org/?nick=Cordao_%3F#Blouco_{{ papo }},Blouco_{{ papo }}_Cordao">Papo</a>
						</b></h2>
					<hr class="my-4 bg-light">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"></h5>
							<div class="papo-embed embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item"
									src="https://kiwiirc.com/nextclient/chat.freenode.org/?nick=Cordao_%3F#Blouco_{{ papo }},Blouco_{{ papo }}_Cordao"
									style="border:5; width:100%; height:100%;"></iframe>
							</div>
						</div>
					</div>
				</div>

				<br>
				<div>
					<h2 class="display-5"><b><a
								href="https://www.youtube.com/watch?v={% if transmissao %}{{ transmissao }}{% else %}_2KJ0WuxuRI{% endif %}">Transmissão
								do Trio</a></b></h2>
					<hr class="my-4 bg-light">

					<div class="youtube-embed col-xs-7 col-md-12 embed-responsive embed-responsive-16by9">
						<iframe
							src="https://www.youtube.com/embed/{% if transmissao %}{{ transmissao }}{% else %}_2KJ0WuxuRI{% endif %}"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
				</div>
				{% endblock %}
			</div>


		<!--Rodapé-->
			<div class="container-fluid">
				<div class="jumbotron jumbotron-fluid bg-transparent text-white ">
					<div class="container-fluid text-right">
						<h6 class="display-6"><a href="#" class="badge badge-dark">Topo ↑</a></h6>
					</div>
				</div>
			</div>