<!DOCTYPE html>
<html lang="blouco">

<head>

	{% block extrahead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:title" content="{{ pag_titulo }}">
    <meta property="og:description" content="{{ pag_descricao }}">
    <meta property="og:image" content="{{ pag_imagem }}">
    <meta property="og:url" content="{{ request.url_path }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Blouco">
    <meta name="twitter:image:alt" content="{{ pag_imagem }}">
    <meta name="twitter:site" content="@_blouco">

	<title>{{ pag_titulo }} - {{ pag_descricao }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- Confete -->
    <link href="/static/confetti.css" rel="stylesheet">

    <style type="text/css">
        body {
            background-color: #dd29dd;
        }
    </style>
	{% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
		<a class="navbar-brand" href="/">Blouco</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/hash/">HashFolia</a>
				</li>
			</ul>
		</div>
    </nav>

    {% block conteudo %}{% endblock %}


    <!-- Rodapé -->
    
    <div class="container-fluid text-right">
        <h6 class="display-6"><a href="#" class="badge badge-dark">Topo ↑</a></h6>
    </div>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
          <span class="text-light text-center">
            <p>
                <a href="https://twitter.com/_blouco">Twitter</a> |
                <a href="https://instagram.com/_blouco">Instagram</a> |
                    <a href="https://github.com/blouco/">Github</a> |
                    <a href="https://open.bloucos.art">OpenBlouco - Documentação</a>
                </p>
                <p>Avatares construídos com o <a href="http://www.avatarsinpixels.com/">Avatar in Pixels</a>. <a href="https://github.com/blouco/hash-folia">HashFolia</a> usa <a href="https://robohash.org">Robohash</a>, <a href="https://github.com/FlxB2/arrival_logograms">arrival_logograms</a> e <a href="https://github.com/luxcem/vizhash">vizhash</a>. Inspiração estética: <a href="https://bgo.la/iutubioke/">Iutubioke.</a></p>
            </div>
          </span>
        </div>


<div class="confetti-49"></div>
<div class="confetti-48"></div>
<div class="confetti-47"></div>
<div class="confetti-46"></div>
<div class="confetti-45"></div>
<div class="confetti-44"></div>
<div class="confetti-43"></div>
<div class="confetti-42"></div>
<div class="confetti-41"></div>
<div class="confetti-40"></div>
<div class="confetti-39"></div>
<div class="confetti-38"></div>
<div class="confetti-37"></div>
<div class="confetti-36"></div>
<div class="confetti-35"></div>
<div class="confetti-34"></div>
<div class="confetti-33"></div>
<div class="confetti-32"></div>
<div class="confetti-31"></div>
<div class="confetti-30"></div>
<div class="confetti-29"></div>
<div class="confetti-28"></div>
<div class="confetti-27"></div>
<div class="confetti-26"></div>
<div class="confetti-25"></div>
<div class="confetti-24"></div>
<div class="confetti-23"></div>
<div class="confetti-22"></div>
<div class="confetti-21"></div>
<div class="confetti-20"></div>
<div class="confetti-19"></div>
<div class="confetti-18"></div>
<div class="confetti-17"></div>
<div class="confetti-16"></div>
<div class="confetti-15"></div>
<div class="confetti-14"></div>
<div class="confetti-13"></div>
<div class="confetti-12"></div>
<div class="confetti-11"></div>
<div class="confetti-10"></div>
<div class="confetti-9"></div>
<div class="confetti-8"></div>
<div class="confetti-7"></div>
<div class="confetti-6"></div>
<div class="confetti-5"></div>
<div class="confetti-4"></div>
<div class="confetti-3"></div>
<div class="confetti-2"></div>
<div class="confetti-1"></div>
<div class="confetti-0"></div>



    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>
