{% extends 'esqueleto.html' %}
{% block conteudo %}

	<!-- Cabeçalho -->
	<div class="container-fluid">
		<div class="jumbotron jumbotron-fluid m-5 p-5 bg-transparent text-white">
			<div class="container-fluid">
				<h1 class="display 4" style="text-align: center">HashFolia!
              <p class="lead"></p>
			</div>
		</div>
	</div>


<div class="container">
    <div class="row">
        <div class="col-sm-8">
			<p>O <strong>HashFolia</strong> transforma um texto-semente em um Estandarte, sendo usado para o início para um Blouco e também para sua movimentação.</p>

			<p class="thumbnail text-center">
				<img width="90%" class="image-responsive" alt="Imagem dos elementos da construção do Estandarte do HashFolia" src="/static/hashfolia_estandarte.png" />
			</p>

			<p class="badge badge-dark">Este projeto está sendo desenvolvido em um <a href="https://github.com/blouco/hash-folia">repositório Github</a>. Veja nossa documentação no <a href="https://open.bloucos.art/pt_BR/latest/hash-folia.html">OpenBlouco</a>.</p>
		</div>

        <div class="col-sm-4">
			<form action="/hash/" method="GET">
			  <div class="form-group">
				<label for="semente"><h4>Semente</h4></label>
				<input type="text" class="form-control" id="semente" aria-describedby="sementeHelp" placeholder="SegueOBlouco" name="semente">
				<small id="sementeHelp" class="form-text text-light">Esta semente será usada para gerar o Estandarte.</small>
			  </div>
			  <input type="submit" class="btn btn-dark" value="Abre alas">
			</form>
		</div>
    </div>
</div>
{% endblock %}
