{% extends 'esqueleto.html' %}

{% block extrahead %}
	{{ super() }}
{% endblock %}

{% block conteudo %}
	<!-- Cabeçalho -->
	<div class="container-fluid">
		<div class="jumbotron jumbotron-fluid m-5 p-5 bg-transparent text-white">
			<div class="container-fluid">
				<h1 class="display 4" style="text-align: center">HashFolia! - {{ seed }} (<a
						href="{{ url_for('hash_completo', seed=reseed) }}">🔀</a>)</h1>
				<!-- 
              <p class="lead">Breve descrição sobre o que é a página.</p>
              -->
			</div>
		</div>
	</div>

	<!-- Estandarte -->
	<div class="container-fluid">
		<div class="jumbotron jumbotron-fluid m-3 p-4 bg-dark text-white">
			<h2 class="display-5" id="gerarHash"><b>Construção do Estandarte</b></h2>
			<p>Arranjos de Elementos/Ambientes do Blouco nas páginas das Divindades/Funções.</p>
			<hr class="my-4 bg-light">
			<div class="row estandarte">
				<div class="col-sm text-center bg-light text-dark p-3 m-3">
					<h3>Imagem</h3>
					<img width="100%" src="/hash/{{ seed }}.png" />
				</div>

				<div class="col-sm text-center bg-light text-dark p-3 m-3">
					<h3>Arcanos</h3>
					<div class="row">
						<div class="col text-center">
							<img width="100%" src="/{{ taro.0.img }}" />
						</div>
						<div class="col text-center">
							<img width="100%" src="/{{ taro.1.img }}" />
						</div>
					</div>
				</div>
				<div class="col-sm text-center bg-light text-dark p-3 m-3">
					<h3>Senhas</h3>
					<ul class="list-group">
						{% for frase in frases %}
						<li class="list-group-item list-group-item-dark">
							{{ frase }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>


		<!-- Construção do Bloco-->

		<div class="container-fluid">
			<div class="jumbotron jumbotron-fluid p-4 bg-dark text-white">
				<div class="container-fluid">
					<h4 id="portaEstandarte">♃ PORTA ESTANDARTE</h4>
					<p><a href="https://open.bloucos.art/pt_BR/latest/divindades/portaestandarte.html">Manual - OpenBlouco</a></p>
					<div class="card-body bg-light">
						<p>
							<a href="{{ request.url_root }}{{ blouco.porta_estandarte }}">{{ request.url_root }}{{
								blouco.porta_estandarte }}</a>
						</p>
					</div>

					<hr class="my-4 bg-light">
					<h4 id="puxadoras">♂ PUXADORAS</h4>
					<p><a href="https://open.bloucos.art/pt_BR/latest/divindades/puxadoras.html">Manual - OpenBlouco</a></p>
					<div class="card-body bg-light">
						<p>
							<a href="{{ request.url_root }}{{ blouco.puxadoras }}">{{ request.url_root }}{{
								blouco.puxadoras }}</a>
						</p>
					</div>

					<hr class="my-4 bg-light">
					<h4 id="mixers">☼ MIXERS</h4>
					<p><a href="https://open.bloucos.art/pt_BR/latest/divindades/mixers.html">Manual - OpenBlouco</a></p>
					<div class="card-body bg-light">
						<p>
							<a href="{{ request.url_root }}{{ blouco.mixers }}">{{ request.url_root }}{{ blouco.mixers
								}}</a>
						</p>
					</div>

					<hr class="my-4 bg-light">
					<h4 id="artistas">☉ ARTISTAS</h4>
					<p><a href="https://open.bloucos.art/pt_BR/latest/divindades/artistas.html">Manual - OpenBlouco</a></p>
					<div class="card-body bg-light">
						<p>
							<a href="{{ request.url_root }}{{ blouco.artistas }}">{{ request.url_root }}{{
								blouco.artistas }}</a>
						</p>
					</div>

					<hr class="my-4 bg-light">
					<h4 id="passistas">♀ PASSISTAS</h4>
					<p><a href="https://open.bloucos.art/pt_BR/latest/divindades/passistas.html">Manual - OpenBlouco</a></p>
					<div class="card-body bg-light">
						<p>
							<a href="{{ request.url_root }}{{ blouco.passistas }}">{{ request.url_root }}{{
								blouco.passistas }}</a>
						</p>
					</div>
					
					<hr class="my-4 bg-light">
					<h4 id="cordoes">☿ CORDÕES</h4>
					<p><a href="https://open.bloucos.art/pt_BR/latest/divindades/cordoes.html">Manual - OpenBlouco</a></p>
					<div class="card-body bg-light">
						<p>
							<a href="{{ request.url_root }}{{ blouco.cordoes }}">{{ request.url_root }}{{ blouco.cordoes
								}}</a>
						</p>
					</div>

					<hr class="my-4 bg-light"> 
					<h4 id="incautas">☽ INCAUTAS</h4>
					<p><a href="https://open.bloucos.art/pt_BR/latest/divindades/incautas.html">Manual - OpenBlouco</a></p>
					<div class="card-body bg-light">
						<p>
							<a href="{{ request.url_root }}{{ blouco.incautas }}">{{ request.url_root }}{{
								blouco.incautas }}</a>
						</p>
					</div>




				</div>
			</div>

		</div>
	</div>

{% endblock %}
