<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>HashFolia! - {{ seed }}</title>
	<meta property="og:title" content="Hashfolia: {{ seed }}">
		<meta property="og:description" content="Hashfolia: {{ seed }}">
		<meta property="og:image"
			  content="https://blouco.volooptaz.art/{{ seed }}.png">
		<meta property="og:url"
			  content="https://blouco.volooptaz.art">
		<style type="text/css">
		body {
			background-color: #ff00ff;
		}
		</style>
	</head>
</head>
<body>
	<center>
	<h1>Hash Folia! - {{ seed }}</h1>

	<img src="/{{ seed }}.png" />
	</center>
</body>
</html>
