{% extends 'esqueleto.html' %}
{% block conteudo %}

<!--Plano de Fundo-->
<style type="text/css">
	body {
		background-color: #aa00ff;
	}
</style>


<div class="container-fluid">
		{% include "partes/rua.html" %}

		<!-- Conteúdo -->
		<div class="container-fluid">
			<div class="jumbotron jumbotron-fluid  bg-dark text-white">
				{% if youtube or twitch or doubletwitch %}
					<h2 class="display-5 m-2 p-2"><b>Transmissão</b>
					</h2>
					<hr class="my-4 bg-light">
					<div class="card-body">
						<h5 class="card-title">Veja o Blouco passar</h5>
							{% if youtube %}
								<div class="youtube-embed embed-responsive embed-responsive-4by3">
									<iframe src="https://www.youtube.com/embed/{{ youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							{% endif %}
							{% if twitch %}
								<div class="youtube-embed embed-responsive embed-responsive-4by3">
									<iframe src="https://player.twitch.tv/?channel={{ twitch }}&parent=ruas.bloucos.art" allowfullscreen="<allowfullscreen>">
									</iframe>
								</div>
							{% endif %}
							{% if doubletwitch %}
								<div class="row">
									<div class="col-sm-7">
										<div class="youtube-embed embed-responsive embed-responsive-4by3">
											<iframe src="https://player.twitch.tv/?channel={{ doubletwitch.0 }}&parent=ruas.bloucos.art" allowfullscreen="<allowfullscreen>">
											</iframe>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="youtube-embed embed-responsive embed-responsive-4by3">
											<iframe src="https://player.twitch.tv/?channel={{ doubletwitch.1 }}&parent=ruas.bloucos.art" allowfullscreen="<allowfullscreen>">
											</iframe>
										</div>
									</div>
								</div>
							{% endif %}
					</div>
					<br>
				{% endif %}

				<h2 class="display-5 m-2 p-2"><b>Papo</b>
				</h2>
				<hr class="my-4 bg-light">
				<div class="card-body">
					{% set kiwiirc = "https://kiwiirc.com/nextclient/chat.freenode.org/?nick=Incauta_%3F#Blouco_" + papo + "" %}
					<h5 class="card-title">Vem trocar idéia! Lembra do IRC? Canal #Blouco_{{ papo }} no Freenode. Nicks sem espaços ou acentos.
						<a href="{{ kiwiirc }}">(link direto)</a>
					</h5>
					<!-- Chat -->
					<div class="papo col-xs-7 col-md-12 embed-responsive embed-responsive-1by1" style="width:100%; height:550px">
						<iframe class="embed-responsive-item"
								src="{{ kiwiirc }}"
							style="width:100%; height:550px"></iframe>
					</div>
				</div>

			</div>
		</div>
</div>
{% endblock %}
