{% extends 'esqueleto.html' %}
{% block conteudo %}


<!--Plano de Fundo-->
<style type="text/css">
	body {
		background-color: #64dd17;
	}
</style>


<div class="container-fluid">
		{% include "partes/rua.html" %}

		<!-- Conteúdo -->
		<div class="container-fluid">
			<div class="jumbotron jumbotron-fluid  bg-dark text-white">
                <h2 class="display-5 m-2 p-2"><b>Estandarte</b></h2>
				<hr class="my-4 bg-light">
				<div>
					{% set etherpad  = "https://pad.bloucos.art/p/Blouco_" + estandarte + "?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false" %}
					<div class="card-header bg-dark">
						<h4>
							Mural do Blouco!
							<a href="{{ etherpad }}">(link direto)</a>
						</h4>
					</div>
				</div>
				<div class="card-body">

					<div class="etherpad-embed">
						<iframe name="embed_readwrite"
								src="{{ etherpad }}"
							width="100%" height="550px" frameborder="0"></iframe>
					</div>

				</div>
                <h2 class="display-5 m-2 p-2"><b>Bonde</b></h2>
				<hr class="my-4 bg-light">
				<div id="bonde" class="embed-responsive embed-responsive-1by1" style="width:100%; height:550px">
					<script src="https://meet.jit.si/external_api.js"></script>
					<script>
						var domain = "meet.jit.si";
						var options = {
							roomName: "Blouco_{{bonde}}",
							width: "100%",
							height: "100%",
							parentNode: document.querySelector('#bonde'),
							configOverwrite: {},
							interfaceConfigOverwrite: {}
						}
						var api = new JitsiMeetExternalAPI(domain, options);
					</script>
				</div>
			</div>
		</div>
{% endblock %}
